@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #FFFFFF;
}


/* share styles  */
.btn {
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700px;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: none;
}

.btn:hover {
    background-color: #346e4c;
    color: #ffffffde;
}




/* header st here  */
header nav {
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav img {
    width: 139px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 32px;

}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-weight: 500px;
    font-size: 16px;
    color: #000000;
}

.hero {
    width: 100%;
    height: calc(100vh - 92px);
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    /* height: 379px; */
    /* border: 1px solid red; */
}

.hero .hero-container .earlyAcces {
    width: 230px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.earlyAcces .earlyAcces-carkel-1 {
    background-color: #46916559;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.earlyAcces-carkel-1 .earlyAcces-carkel-2 {
    background-color: #46916593;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.earlyAcces-carkel-1 .earlyAcces-carkel-2 .earlyAcces-carkel-3 {
    background-color: #469165;
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.hero .hero-container h1 {
    font-size: 72px;
    color: #FFFFFF;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero .hero-container h1 span {
    color: #30B868;
}

.hero .hero-container p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    color: #FFFFFF;
    text-align: center;
}

.hero-container .hero-buttons {
    display: flex;
    gap: 16px;
}

.hero-container .hero-buttons .headBtn-1 i {
    margin-left: 10px;
}

.hero-buttons .headBtn-2 {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero-buttons .headBtn-2:hover {
    border: 2px solid #ffffffc7;
    color: #ffffffc7;
}

/* main st here  */

.notes{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notes h1{
    padding-top: 116px;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.notes .noteHeadPera{
    margin-bottom: 44px;
    font-size: 16px;
    color: #627382;
}
.notes .notBoxs{
    display: flex;
    gap: 24px;
}
.notBoxs .notBox{
    height: 205px;
    width: 322px;
    /* padding: 24px; */
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    box-shadow: 0 0 8px #0000001e ;
    border-radius: 3px;
}
.notBox .notIconBox{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 16px;
}
.notBox h2{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
}
.notBox p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    width: 274px;
    text-align: center;
}
.brain{
    display: flex;
    align-items: center;
    padding: 120px 0;
    margin: 0 auto;
    width: 85%;
    max-width: 1360px;
    gap: 60px;
}
.brain .brain-container h6{
    margin-bottom: 16px;
    font-size: 16px;
    color: #30B868;
}
.brain-container h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.brain-container .brain-pera{
    line-height: 20px;
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-container .brain-ruls{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.brain-ruls .brain-rul{
    display: flex;
    align-items: center;
    gap: 6px;
    /* border: 1px solid red; */
}